<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gêneros</title>
        <link rel="stylesheet" href="/stylesheets/admin/users.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="headerContent">
                    <div class="title">
                        <img src="/images/logo.png" alt="logo">
                        <h1>MovieMania</h1>
                    </div>
        
                    <h2>Dashboard Administrativo</h2>
                </div>

                <div class="headerMenus">
                    <div class="menus">
                        <a href="/admin/statistics">Estatísticas</a>
                        <a href="" class="picked">Usuários</a>
                        <a href="/admin/genres">Gêneros</a>
                        <a href="/admin/movies">Filmes</a>
                    </div>

                    <div class="line"></div>
                </div>
            </div>

            <div class="usersDiv">
                <div class="usersTitle">
                    <h2>Usuários</h2>

                    <a href="/admin/newuser" class="addButton">Novo usuário</a>
                </div>

                <div class="usersTableDiv">
                    <table id="usersTable">
                        <thead>
                            <tr>
                                <th class="userId">Id</th>
                                <th class="userName">Nome</th>
                                <th class="userEmail">Email</th>
                                <th class="profilesAmount">Perfis</th>
                                <th class="permission">Permissão</th>
                                <th class="action">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% usersWithProfileCount.forEach(user => { %>
                                <tr>
                                    <td class="firstTd"><%= user.userId %></td>
                                    <td class="secondTd"><%= user.userName %></td>
                                    <td class="thirdTd"><%= user.userEmail %></td>
                                    <td class="fourthTd"><%= user.profilesAmount %></td>
                                    <td class="fifthTd"><%= user.permission === 1 ? 'Admin' : 'Usuário' %></td>
                                    <td class="sixthTd">
                                        <div class="actionButtons">
                                            <a href="/admin/updateuser/<%= user.userId %>">
                                                <img src="/images/edit.png" alt="Editar" class="editButton">
                                            </a>
                                            
                                            <a href="/admin/deleteuser/<%= user.userId %>" onclick="return confirm('Deseja mesmo deletar o usuário? Esta ação também deletará os perfis do usuário.');">
                                                <img src="/images/delete.png" alt="Excluir" class="removeButton">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
